[Unit]
Description="uWSGI server instance for my_app"
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/centos/demo/app/
Environment=FLASK_ENV=test
ExecStart=/usr/local/bin/uwsgi --ini /home/centos/demo/app/app.ini

[Install]
WantedBy=multi-user.target
